<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content={{ description }} />
  </head>
  <body>
    <header>
      <h1 class="site-name">Among Us Stats</h1>
      <nav>
        <ul>
          <li><a href="/stats/index">Home</a></li>
          <li><a href="/stats/insert">Insert</a></li>
          <li><a href="/stats/query">Query</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
