{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Among Us Stats - Insert</title>
    <meta
      name="description"
      content="A website to track stats for games of Among Us played by Kyr_Sp33dy and other streamers. The insert page allows you to add a new game to the database."
    />
    <link rel="shortcut icon" href="{% static 'stats/images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'stats/css/style.css' %}" />
  </head>
  <body>
    <header>
      <h1 class="site-name">Among Us Stats</h1>
      <nav>
        <ul>
          <li><a href="/stats/main">Home</a></li>
          <li><a href="/stats/insert" class="active">Insert</a></li>
          <li><a href="/stats/query">Query</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer>
      <h4>Among Us Stats</h4>
      <p>
        &copy; <span class="currentYear"></span> | Among Us Stats |
        <span class="lastModif"></span>
      </p>
    </footer>
    <script src="{% static 'stats/js/main.js' %}"></script>
  </body>
</html>
